<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<center>
  <h2>Sign in</h2>

  <form action="/admin" method="POST">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" name="email" />

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" />

    <input type="submit" value="Login" class="btn" />
  </form>
</center>
<br />
<br />
<br />
<hr />
<br />
<br />
<br />

<center>
  <h2>Don't have account? Register</h2>

  <form action="/register" method="POST">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" name="email" />

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" />

    <input type="submit" value="Register" class="btn" />
  </form>
</center>

<br />
<hr />
