<header class="header">
  <a href="/" class="logo">Home</a>
  <nav class="nav">
    <ul>
      <li>
        <a href="/newsapi">NewsAPI</a>
      </li>

      <li>
        <a href="/wasap">Unsplash</a>
      </li>

      <li>
        <a href="/bingSearch">BingSearch</a>
      </li>

      <li>
        <a href="/contacts">Contacts</a>
      </li>

      <li>
        <a href="/admin">Sign Up/In</a>
      </li>
    </ul>
  </nav>
</header>
