<br />
<br />
<br />
<center>
  <h3>Name:</h3>
  <h1><%= data.name %></h1>
  <br />
  <hr />
  <br />

  <h3>Description:</h3>
  <br />
  <article class="art" style="font-weight: 600">
    "<%= data.description %>"
  </article>
</center>
